<div class="title">
  <h1>Welp!</h1>
  <h6>
    Find a random restaurant. Powered by the Yelp API.
  </h6>
</div>

<form class="form-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0"
  [formGroup]="userInputForm" (ngSubmit)="onSubmit()">
  <mat-form-field hideRequiredMarker>
    <mat-select placeholder="Price Point" formControlName="pricePoint" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let price of pricePoints" [value]="price.value">{{price.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field hideRequiredMarker>
    <input matInput formControlName="city" placeholder="City" pattern="[a-zA-Z ]*" required>
  </mat-form-field>
  <mat-form-field hideRequiredMarker>
    <mat-select placeholder="State" formControlName="state" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button class="form-button" mat-raised-button color="primary" type="submit" [disabled]="!userInputForm.valid">Welp!</button>
</form>

<!-- HTTP REQUEST ERROR HANDLER -->
<div *ngIf="errorMsg">
  <h3>{{errorMsg}}</h3>
</div>

<div *ngIf="spinner && !errorMsg">
  <mat-spinner color="primary" class="spinner"></mat-spinner>
</div>

<div *ngIf="selectedOption && !spinner" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div>
    <a class="card-heading" href="{{selectedOption.url}}" target="_blank">{{selectedOption.name}}</a>
    <p>{{selectedOption.display_phone}}</p>
    <img src="../assets/yelp_stars/web_and_ios/regular/regular_{{selectedOption.rating}}.png">
    <div *ngFor="let loc of selectedOption.location.display_address">
      {{loc}}
    </div>
    <div *ngFor="let trans of selectedOption.transactions">
      <div class="card-transaction">{{trans | titlecase}}</div>
    </div>
  </div>
  <div>
    <img class="image" src="{{selectedOption.image_url}}" alt="{{selectedOption.name}}">
  </div>
</div>

<!-- Google map 
    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{data.coordinates.latitude | number:'2.2-6'}},{{data.coordinates.longitude | number:'2.2-6'}}&zoom=14&size=400x400&key=AIzaSyCEsBpoTkp-UqnyLTYQravhB8QtUuW-K7U"> -->