<!-- <video autoplay muted loop id="authVideo">
  <source src="../../assets/video/authVid.mp4" type="video/mp4">
</video> -->

<div class="card">
  <div class="cardContainer">
    <h1>Admin Login</h1><br>
    <form
      (ngSubmit)="onLogin()"
      [formGroup]="login"
    >
      <input 
        type="text"
        placeholder="Email"
        formControlName="email"
        name="email"
      ><br><br>
      <input 
        type="password"
        placeholder="Password"
        formControlName="password"
        name="password"
      ><br><br>
    
      <button
        type="submit"
      >Login</button>
    </form>
  </div>
</div>