<div class="container-fluid aboutSection">
  <div class="row">
    <div class="col-md-10 aboutContent">
      <h1>Innovative Gardening Solutions</h1><br>
      <p>Grass Roots Gardening provides garden-tested solutions for most every gardening challenge. We work with customers, market gardeners, universities, manufacturers and suppliers throughout the world to design and introduce innovative gardening products, such as self-watering planters, flower and vegetable supports, composters, rain barrels, grow lights, professional growing mediums, organic fertilizers and much more.
        We have our own research and development team and maintain a half-acre test garden.</p>
    </div>
  </div>
</div>