.outerbody {
  height: 94.1vh;
  background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('https://images.unsplash.com/photo-1506941433945-99a2aa4bd50a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d6a340611d65158b6950b915cac274a2&auto=format&fit=crop&w=934&q=80') fixed center center;
  background-size: cover;
}

.homeTitle {
  color: #009244;
  text-shadow: 2px 2px 3px #502f13;
  font-weight: bold;
}